<!DOCTYPE html>
<html>
<head>
    <title>{{TITLE}}</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/scripts.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <header>
        <a href="/" class="link-on-main-page">List of reCAPTCHA versions</a> / <span class="captcha-version-title">{{TITLE}}</span>
    </header>
    <main>
        <h2>Client Side</h2>
        <div class="captcha-integration-code">
            {{> (lookup . 'CAPTCHA_VERSION') }}
        </div>
        <div class="captcha-token-form">
            <span>
                Token:
            </span>
            <input type="text" id="captchaTokenField"/>
            <button type="button" onclick="getElementByIdAndCopyValueToClipboard('captchaTokenField')">
                Copy to clipboard
            </button>
        </div>
        <h2>Server Side</h2>
        <div class="validate-token-form">
            <button type="button" onclick="validateToken(getElementByIdAndRetrieveValue('captchaTokenField'))">
                Validate token
            </button>
        </div>
        <div class="server-response">
            <span>
                reCAPTCHA Server response:
            </span>
            <pre id="serverResponse">

            </pre>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>
