<!DOCTYPE html>
<html>
<head>
    <title>ReCaptcha test</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <ol>
        <li><a href="/v2/invisible">Click here to test ReCaptcha v2 Invisible</a></li>
        <li><a href="/v2/checkbox">Click here to test ReCaptcha v2 Checkbox</a></li>
        <li><a href="/v3">Click here to test ReCaptcha v3</a></li>
    </ol>
</body>
</html>
