<!DOCTYPE html>
<html>
<head>
    <title>reCAPTCHA demo: Simple page</title>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    <script>
        function onloadCallback() {
            grecaptcha.render('html_element', {
                'sitekey' : '{{publicKey}}',
                'callback' : verifyCallback,
            })
        }
        function verifyCallback(token) {
            document.getElementById('token').value = token
        }
        function copyTokenToClipboard() {
            var tokenInput = document.getElementById("token")

            tokenInput.select()
            tokenInput.setSelectionRange(0, 99999) /* For mobile devices */

            document.execCommand("copy")
        }
        function validateToken() {
            fetch('/validate-proxy?response=' + document.getElementById("token").value)
                .then((res) => {
                    return res.json()
                })
                .then((json) => {
                    document.getElementById('response').innerHTML = JSON.stringify(json, null, 2)
                })
        }
    </script>
</head>
<body>
    <a href="/"><- Back</a>
    <h1>Client Side</h1>
    <form action="?" method="POST">
        <div id="html_element"></div>
        <br>
    </form>
    <br/>
    <div>
        Token: <input type="text" id="token"/><button type="button" onclick="copyTokenToClipboard()">Copy to clipboard</button>
    </div>
    <h1>Server Side</h1>
    <div>
        <button type="button" onclick="validateToken()">Validate token</button>
    </div>
    <br>
    ReCaptcha Server response:
    <pre id="response">

    </pre>
</body>
</html>
