<!DOCTYPE html>
<html>
<head>
    <title>reCAPTCHA demo: Simple page</title>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById('token').value = token
        }
        function copyTokenToClipboard() {
            var tokenInput = document.getElementById("token")

            tokenInput.select()
            tokenInput.setSelectionRange(0, 99999) /* For mobile devices */

            document.execCommand("copy")
        }
        function validateToken() {
            fetch('/validate-proxy?response=' + document.getElementById("token").value)
                .then((res) => {
                    return res.json()
                })
                .then((json) => {
                    document.getElementById('response').innerHTML = JSON.stringify(json, null, 2)
                })
        }
    </script>
</head>
<body>
    <a href="/"><- Back</a>
    <h1>Client Side</h1>
    <button class="g-recaptcha"
            data-sitekey="{{publicKey}}"
            data-callback='onSubmit'
            data-action='submit'>Receive token</button>
    <br/><br/>
    <div>
        Token: <input type="text" id="token"/><button type="button" onclick="copyTokenToClipboard()">Copy to clipboard</button>
    </div>
    <h1>Server Side</h1>
    <div>
        <button type="button" onclick="validateToken()">Validate token</button>
    </div>
    <br>
    ReCaptcha Server response:
    <pre id="response">

    </pre>
</body>
</html>
